<h1 class="mt-4 mb-3" *ngIf="blogTitle">{{blogTitle}}</h1>

<div class="row">
    <div class="col-md-9">

        <div *ngFor="let post of blogPostsForCurrentPage()">
            <div class="card mb-4">
                <img *ngIf="postImagePresent(post)"
                     class="card-img-top"
                     src="assets/images/{{post.postImageName}}"
                     alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">{{post.postTitle}}</h2>
                    <p class="card-text">{{post.postAbstract}}</p>
                    <a [routerLink]="post.path" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{post.postDate | date:'longDate'}} by
                    <a [routerLink]="['/about']">Zimcke Van de Staey</a>
                </div>
            </div>
        </div>

        <ul class="pagination justify-content-center mb-4">
            <li class="page-item" [ngClass]="{'disabled': !hasNewerPage()}">
                <button type="button" class="page-link" (click)="previousPage()">&larr; Newer</button>
            </li>
            <li class="page-item" [ngClass]="{'disabled': !hasOlderPage()}">
                <button type="button" class="page-link" (click)="nextPage()">Older &rarr;</button>
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <app-blog-sidebar></app-blog-sidebar>
    </div>

</div>
