.xng-breadcrumb-root {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.xng-breadcrumb-separator {
    padding: 0 0.1rem;
}

.xng-breadcrumb-item {
    color: #6FC48A;
    text-decoration: none;
    background-color: transparent;
}

.xng-breadcrumb-trail {
    margin-bottom: 0;
}
