<app-blog-post
    [postTitle]="postTitle()"
    [postDate]="postDate()"
    [postAbstract]="postAbstract()">

    <br>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-9">
            
            <h3 class="mb-3">1. Todesmärchen (2016)</h3>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-lg-3">
            <img class="img-fluid rounded mb-4" src="assets/images/todesmarchen.jpg" alt="">
        </div>
        <div class="col-lg-9">
            <p class="p-spaced">
                    by Andreas Gruber
            </p>
             <p class="p-spaced">
                 When learning a new language, I find that crime stories are usually a good way to start reading books. 
                 As a reader, you often create expectations (hypotheses) that you will check during the reading process. Crime stories
                 often start from a recognizable situation, with characters that have clearly defined personalities. These aspects make 
                 the story easy to follow, even when you don't pick up all the details in the new language.
             </p>
             <p class="p-spaced">
                 I currently only speak German to my mother in law and studying Chinese makes me forget 
                 a lot of vocabulary and grammar. Hence I want to put a bit more effort in surrounding myself with German literature.
                 I've already started reading this book and it seems promising (there is a lot of suspense, right from the beginning)! 
                 Seems like I had a lucky day when I found this book for 2 euro at a second hand book sale. 
              </p>
              <br>
        </div>
    </div>

    <div class="row mt-1">
            <div class="col-lg-3">
       
            </div>
            <div class="col-lg-9">
                
                <h3 class="mb-3">2. Hong Kong Cantopop: A Concise History (2017)</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <img class="img-fluid rounded mb-4" src="assets/images/cantopop.jpg" alt="">
            </div>
            <div class="col-lg-9">
                    <p class="p-spaced">
                            by Chu Yiu-Wai
                         </p>
                 <p class="p-spaced">
                    Until six years ago, I was rather clueless about Chinese culture. Then I started learning about the differences in
                    Chinese languages, such as Mandarin and Cantonese (spoken for example in Hong Kong). I was amazed that Cantonese sounded so powerful and melodic in my ears. 
                    As a musicologist, I quickly gained interest in Cantonese music as well. I started listening to Hong Kong radio channels and was introduced to
                    Cantopop. I was baffled. I was head over heels with the rythm in the music, the emotions buried deeply into the singer's voices,
                    the absurdity of some of the lyrics... How could I not know this existed? I had studied so many different musicalities, but not once was this 
                    mentioned in any of the courses I followed or books I read. I hope this book is a starting point for a historic study of cantopop and a 
                    a good way to make the existence of cantopop known on a global scale. 
                 </p>
                 <br>

            </div>
    </div>

    <div class="row mt-1">
            <div class="col-lg-3">
       
            </div>
            <div class="col-lg-9">
                
                <h3 class="mb-3">3. 21 Lessons for the 21st Century (2018)</h3>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <img class="img-fluid rounded mb-4" src="assets/images/21lessons.jpg" alt="">
            </div>
            <div class="col-lg-9">
                    <p class="p-spaced">
                            by Yuval Noah Harari
                         </p>
                 <p class="p-spaced">
                    This book has been recommended to me by many people and it seems that it is not a moment too early to read this, now that 
                    we're officially done with 20% of the 21st century.
                 </p>
                 <br>
            </div>
    </div>

    <div class="row mt-1">
            <div class="col-lg-3">
       
            </div>
            <div class="col-lg-9">
                
                <h3 class="mb-3">4. 电脑公司的秘密 Secrets of a Computer Company (2009)</h3>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <img class="img-fluid rounded mb-4" src="assets/images/secrets-of-a-computer-company.jpg" alt="">
            </div>
            <div class="col-lg-9">
                    <p class="p-spaced">
                            by Liu Yuehua and Chu Chengzhi
                         </p>
                 <p class="p-spaced">
                    Reading this book is an assignment for Chinese class this year. We read the first book (你最喜欢谁？) in the first semester 
                    and it was about the love story (or breakup story) of a Chinese software developer who specifically developed software in Chinese 
                    during the 1980s. Combining software development en Chinese culture into one book, is enough to convince me to read it! I am very curious 
                    to see how the story continuous.
                 </p>
                 <br>
            </div>
    </div>

    <div class="row mt-1">
            <div class="col-lg-3">
       
            </div>
            <div class="col-lg-9">
                
                <h3 class="mb-3">5. Clean Code: A Handbook of Agile Software Craftsmanship (2008)</h3>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <img class="img-fluid rounded mb-4" src="assets/images/clean-code.jpg" alt="">
            </div>
            <div class="col-lg-9">
                    <p class="p-spaced">
                            by Robert Cecil Martin
                         </p>
                 <p class="p-spaced">
                    Another book that has been on my list for a while. I am currently working on multiple software projects and 
                    they are not small project anymore. I thus feel the need to improve the way I work, in particular because I work in team.
                 </p>
                 <br>
            </div>
    </div>
</app-blog-post>
        
