<app-blog-post
    [postTitle]="postTitle()"
    [postDate]="postDate()"
    [postAbstract]="postAbstract()">

    <!-- <p class="p-spaced">
        <a href="assets/images/teksten.pdf">Download PDF document</a><br>
        <a href="assets/images/teksten_nopinyin.pdf">Download PDF document without pinyin</a>
    </p> -->

    <h3 class="mt-3 mb-3">General</h3>
   
    <div class="container mt-3 mb-3">

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'领域'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Field, domain</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'方向'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Trend of events, situation, direction, orientation</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'论坛'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Forum</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'发布'"></ng-piao-liang-hanzi></div>
            <div class="col-6">To release</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'融入'"></ng-piao-liang-hanzi></div>
            <div class="col-6">To integrate into</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'修定'"></ng-piao-liang-hanzi></div>
            <div class="col-6">To revise, revised</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'课程'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Curriculum</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'标准'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Standard, criterion</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'版本'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Edition (of a book)</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'内容'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Content</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="''"></ng-piao-liang-hanzi></div>
            <div class="col-6"></div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="''"></ng-piao-liang-hanzi></div>
            <div class="col-6"></div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="''"></ng-piao-liang-hanzi></div>
            <div class="col-6"></div>
        </div>
        
    </div>

    <h3 class="mt-3 mb-3">On technology</h3>

    <div class="container mt-3 mb-3">

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'技术'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Technology</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'工程'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Engineering</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'信息技术'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Information technology, IT</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'创客教育'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Maker education</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'人工智能'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Artificial intelligence</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'人工智慧'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Artificial intelligence</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'机器人'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Robot</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'教育技术学'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Educational technology (study of)</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'研究与发展'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Research and development, R&D</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'硬件'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Hardware</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'软件'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Software</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="''"></ng-piao-liang-hanzi></div>
            <div class="col-6"></div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="''"></ng-piao-liang-hanzi></div>
            <div class="col-6"></div>
        </div>


        
    </div>
 
    <h3 class="mt-3 mb-3">On learning</h3>
   
    <div class="container mt-3 mb-3">

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'跨学科学习'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Interdisciplinary learning</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'综合学习'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Content and language integrated learning, comprehensive learning</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="'项目式学习'"></ng-piao-liang-hanzi></div>
            <div class="col-6">Project-based learning</div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="''"></ng-piao-liang-hanzi></div>
            <div class="col-6"></div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="''"></ng-piao-liang-hanzi></div>
            <div class="col-6"></div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="''"></ng-piao-liang-hanzi></div>
            <div class="col-6"></div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="''"></ng-piao-liang-hanzi></div>
            <div class="col-6"></div>
        </div>

        <div class="row mb-3">
            <div class="col-6 p-chinese"><ng-piao-liang-hanzi [chineseCharacters]="''"></ng-piao-liang-hanzi></div>
            <div class="col-6"></div>
        </div>

    </div>
</app-blog-post>
        
