<app-blog-post
    [postTitle]="postTitle()"
    [postDate]="postDate()"
    [postAbstract]="postAbstract()">

    <p class="p-spaced">
        <a href="assets/images/teksten.pdf">Download PDF document</a><br>
        <a href="assets/images/teksten_nopinyin.pdf">Download PDF document without pinyin</a>
    </p>
    <h3>p.75</h3>
    <p class="p-chinese">
       <ng-piao-liang-hanzi [chineseCharacters]="'王先生、王太太是英国华侨。王先生爱喝咖啡，王太太不爱喝咖啡，\
       她只爱喝中国茶。王先生爱看电视，王太太不爱看电视，她只爱看中文书。王先生喜欢吃外国菜，王太太不喜欢吃外国菜，\
       她只喜欢吃中国菜。王先生很喜欢学外国语，英文、发文、德文、他都会。王太太不喜欢学外国语，她只会中国语。\
       她常说：&ldquo;外国人吃外国饭，应该说外国语；中国人吃中国饭，应该说中国语！&rdquo;'"></ng-piao-liang-hanzi>  
    </p>
 
    <h3>p.76</h3>
    <p class="p-chinese">
    <ng-piao-liang-hanzi [chineseCharacters]="'王：今天咖啡真好，你也喝一点儿吧！'"></ng-piao-liang-hanzi> <br>
    <ng-piao-liang-hanzi [chineseCharacters]="'太：不喝，我的茶很好。'"></ng-piao-liang-hanzi> <br>
    <ng-piao-liang-hanzi [chineseCharacters]="'王：看不看电视？'"></ng-piao-liang-hanzi> <br>
    <ng-piao-liang-hanzi [chineseCharacters]="'太：不看，我想看一点儿书。'"></ng-piao-liang-hanzi> <br>
    <ng-piao-liang-hanzi [chineseCharacters]="'王：是英文书吗？'"></ng-piao-liang-hanzi> <br>
    <ng-piao-liang-hanzi [chineseCharacters]="'太：不是，是中文书，谁看英文书？！'"></ng-piao-liang-hanzi> <br>
    <ng-piao-liang-hanzi [chineseCharacters]="'王：朋友都说你应该学点儿英文。'"></ng-piao-liang-hanzi> <br>
    <ng-piao-liang-hanzi [chineseCharacters]="'太：我不学！❛外国人说外国语，中国人说中国语❜，不是很好吗？！'"></ng-piao-liang-hanzi> <br> 
    <ng-piao-liang-hanzi [chineseCharacters]="'王：好，好，不学，不学。晚上做点儿法国菜好不好？'"></ng-piao-liang-hanzi> <br>
    <ng-piao-liang-hanzi [chineseCharacters]="'太：谁做啊？我不会做法国菜，你想吃，你做吧！'"></ng-piao-liang-hanzi> <br>
    </p>
    
    <h3>p.77</h3>
    <p class="p-chinese">
            <ng-piao-liang-hanzi [chineseCharacters]="'A：真累、真累！'"></ng-piao-liang-hanzi><br>
        <ng-piao-liang-hanzi [chineseCharacters]="'B：喝杯茶吧，是不是因为天气太热？'"></ng-piao-liang-hanzi><br>
        <ng-piao-liang-hanzi [chineseCharacters]="'A：不是，是因为孩子太多。'"></ng-piao-liang-hanzi><br>
        <ng-piao-liang-hanzi [chineseCharacters]="'B：你一共有几个？'"></ng-piao-liang-hanzi><br>
        <ng-piao-liang-hanzi [chineseCharacters]="'A：四个，都是女儿。'"></ng-piao-liang-hanzi><br>
        <ng-piao-liang-hanzi [chineseCharacters]="'B：为什么要生那么多？是不是想要生一个儿子？'"></ng-piao-liang-hanzi><br>
        <ng-piao-liang-hanzi [chineseCharacters]="'A：我们不想要儿子，可是我父母一定要生孙子！'"></ng-piao-liang-hanzi><br>
        <ng-piao-liang-hanzi [chineseCharacters]="'B：这个是你大女儿吧？今年几岁？'"></ng-piao-liang-hanzi><br>
        <ng-piao-liang-hanzi [chineseCharacters]="'C：我五岁。'"></ng-piao-liang-hanzi><br>
        <ng-piao-liang-hanzi [chineseCharacters]="'B：你有几个妹妹？'"></ng-piao-liang-hanzi><br>
        <ng-piao-liang-hanzi [chineseCharacters]="'C：不知道'"></ng-piao-liang-hanzi><br>
        <ng-piao-liang-hanzi [chineseCharacters]="'B：不知道？！为什么？'"></ng-piao-liang-hanzi><br>
        <ng-piao-liang-hanzi [chineseCharacters]="'C：我妈常常生妹妹，我也不知道她真要几个。'"></ng-piao-liang-hanzi> <br>

    </p>
    <h3>p.78</h3>
    <p class="p-chinese">
    <ng-piao-liang-hanzi [chineseCharacters]="'我有一位朋友姓王，是上海人，我们都叫他小王。小王会说上海话，\
    也说普通话；能看中文书，也能看英文书。他学英文没有老师；只有两本学典：一本英汉字典，一本汉英字典。他说这两本学典就是两位老师。\
    小王今年三十二岁，有四个女儿，没有儿子。因为这四个孩子都很小，所以他总是很忙、很累。\
    有一位朋友问他为什么要这么多孩子，是不是因为想要个儿子？\
    小王说：&ldquo;我不想要儿子，可是我父母一定要个孙子！&rdquo;'"></ng-piao-liang-hanzi> 
    </p>
</app-blog-post>