<app-blog-post
    [postTitle]="postTitle()"
    [postDate]="postDate()"
    >

    <p class="p-spaced">This article is still a work in progress that I regularly update.</p>
    <p class="p-spaced">
        Ever since hearing my first song in Cantonese, I have become obsessed with Cantopop. 
        I have spent hours listening to songs from different periods, in the beginning without comprehending one word of the lyrics. 
        Even as a musicologist I was not aware this music existed and that, when looking at its popularity in Asia until today, 
        it has the same energizing effect on me as on millons other people. 
        Even though Cantopop became a recognized genre worldwide, there is still a lot of terrain that is unknown to non-Cantonese 
        or non-Chinese speakers. Of course, being accessible to other nationalities was never its goal. But in a globalized world where English 
        became the lingua franca it is actually very refreshing to listen to music that still guards its own principles.
    </p>
    <p class="p-spaced">
        In the past year I have been looking into scientific literature about Cantopop to get a better grip on its history. As one might expect, 
        the number of English written sources is rather limited. However, there is one important exception: Hong Kong Cantopop - A Concise History 
        by Yiu-Wai Chu, pubished by Hong Kong University Press. This book presents a history of Cantonese pop songs and links it to Hong Kong culture. 
        I highly recommend it to anyone that wants to take a closer look at Cantopop. Unfortunately, it will probably not be easily available at 
        you local library. That is why I assembled a playlist of the most important songs that are mentioned in the book. Because reading a music history
        book without taking the time to properly listen to the audio, does not really make sense. Below you will find a link to the playlist and the table of songs 
        ordered per chapter of the book. Those who cannot obtain the book can still enjoy the music by itself. 
    </p>
    <p class="p-spaced">
        Remark: the romanization below the characters is pinyin (Mandarin romanization), not jyutping (Cantonese romanization). This is due to 
        limitations of the automatic romanization software used.

        <!-- <a href="assets/images/teksten.pdf">Download PDF document</a><br>
        <a href="assets/images/teksten_nopinyin.pdf">Download PDF document without pinyin</a> -->
    </p>

    <h3 class="mt-3 mb-3">Chapter 2. Days of Being Marginalized: The 1950s to the Early 1970s</h3>
   
    <div class="container mt-3 mb-3">

        <div class="row mb-3">
            <div class="col-5">Cantonese title</div>
            <div class="col-6">English title (translated) </div>
            <div class="col-1">Year</div>
        </div>
        
    </div>

    <h3 class="mt-3 mb-3">Chapter 3. The Rise of Cantopop: The Mid- to Late 1970s</h3>

    <div class="container mt-3 mb-3">

        <div class="row mb-3">
            <div class="col-5">Cantonese title</div>
            <div class="col-6">English title (translated) </div>
            <div class="col-1">Year</div>
        </div>

        <div class="row mb-3">
            <div class="col-5 p-chinese">
                <ng-piao-liang-hanzi [chineseCharacters]="'七十二家房客'"></ng-piao-liang-hanzi>
            </div>
            <div class="col-6">
                <a href="https://www.youtube.com/watch?v=GKnh9nfAhY0">
                    The House of 72 Tenants
                </a>
            </div>
            <div class="col-1">1973</div>
        </div>

        <div class="row mb-3">
            <div class="col-5 p-chinese">
                <ng-piao-liang-hanzi [chineseCharacters]="'烟雨蒙蒙'"></ng-piao-liang-hanzi>
            </div>
            <div class="col-6">
                <a href="https://www.youtube.com/watch?v=V3SYXmPv3xM">
                    Romance in the Rain
                </a>
            </div>
            <div class="col-1">
                1973
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-5 p-chinese">
                <ng-piao-liang-hanzi [chineseCharacters]="'啼笑因緣'"></ng-piao-liang-hanzi>
            </div>
            <div class="col-6">
                <a href="https://www.youtube.com/watch?v=cuHNaYr1g3w">
                    A Love Tale between Tears and Smiles
                </a>
            </div>
            <div class="col-1">
                1974
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-5 p-chinese">
                <ng-piao-liang-hanzi [chineseCharacters]="'荷花香'"></ng-piao-liang-hanzi>
            </div>
            <div class="col-6">
                <a href="https://www.youtube.com/watch?v=BZwQJuGxiXQ">
                    Fragrant Water Lily
                </a>
            </div>
            <div class="col-1">
                1975
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-5 p-chinese">
                <ng-piao-liang-hanzi [chineseCharacters]="'明月訢情－劉鳳屏'"></ng-piao-liang-hanzi>
            </div>
            <div class="col-6">
                <a href="https://www.youtube.com/watch?v=SYcUODD7Us4">
                    The Bright Moon Speaks Softly Love, Pancy Lau
                </a>
            </div>
            <div class="col-1">
                1974
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-5 p-chinese">
                <ng-piao-liang-hanzi [chineseCharacters]="'我對他真心－劉鳳屏'"></ng-piao-liang-hanzi>
            </div>
            <div class="col-6">
                <a href="https://www.youtube.com/watch?v=xCtiaQ6BK5Q">
                    I Am True to Him, Pancy Lau
                </a>
            </div>
            <div class="col-1">
                1974
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-5 p-chinese">
                <ng-piao-liang-hanzi [chineseCharacters]="'大家樂－溫拿'"></ng-piao-liang-hanzi>
            </div>
            <div class="col-6">
                <a href="https://www.youtube.com/playlist?list=PLA02BD069386248B1">
                    Let's Rock, The Wynners
                </a>
            </div>
            <div class="col-1">
                1975
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-5 p-chinese">
                <ng-piao-liang-hanzi [chineseCharacters]="''"></ng-piao-liang-hanzi>
            </div>
            <div class="col-6">
                <a href="">

                </a>
            </div>
            <div class="col-1">
                
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-5 p-chinese">
                <ng-piao-liang-hanzi [chineseCharacters]="''"></ng-piao-liang-hanzi>
            </div>
            <div class="col-6">
                <a href="">

                </a>
            </div>
            <div class="col-1">
                
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-5 p-chinese">
                <ng-piao-liang-hanzi [chineseCharacters]="''"></ng-piao-liang-hanzi>
            </div>
            <div class="col-6">
                <a href="">

                </a>
            </div>
            <div class="col-1">
                
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-5 p-chinese">
                <ng-piao-liang-hanzi [chineseCharacters]="''"></ng-piao-liang-hanzi>
            </div>
            <div class="col-6">
                <a href="">

                </a>
            </div>
            <div class="col-1">
                
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-5 p-chinese">
                <ng-piao-liang-hanzi [chineseCharacters]="''"></ng-piao-liang-hanzi>
            </div>
            <div class="col-6">
                <a href="">

                </a>
            </div>
            <div class="col-1">
                
            </div>
        </div>
        
    </div>

    <h3 class="mt-3 mb-3">Chapter 4. An Age of Glory: The 1980s</h3>

    <div class="container mt-3 mb-3">

        <div class="row mb-3">
            <div class="col-5">Cantonese title</div>
            <div class="col-6">English title (translated) </div>
            <div class="col-1">Year</div>
        </div>

        <div class="row mb-3">
            <div class="col-5 p-chinese">
                <ng-piao-liang-hanzi [chineseCharacters]="'上海灘－葉麗儀'"></ng-piao-liang-hanzi>
            </div>
            <div class="col-6">
                <a href="https://www.youtube.com/watch?v=4uBkWv8L0eg">
                    The Bund, Frances Yip
                </a>
            </div>
            <div class="col-1">
                1980
            </div>
        </div>
        
    </div>

    <h3 class="mt-3 mb-3">Chapter 5. The Best of Times, the Worst of Times: The 1990s</h3>

    <div class="container mt-3 mb-3">

        <div class="row mb-3">
            <div class="col-5">Cantonese title</div>
            <div class="col-6">English title (translated) </div>
            <div class="col-1">Year</div>
        </div>
        
    </div>

    <h3 class="mt-3 mb-3">Chapter 6. After the Fall: The New Millennium</h3>

    <div class="container mt-3 mb-3">

        <div class="row mb-3">
            <div class="col-5">Cantonese title</div>
            <div class="col-6">English title (translated) </div>
            <div class="col-1">Year</div>
        </div>
        
    </div>

    <h3 class="mt-3 mb-3">Epilogue: Cantopop in the Age of China</h3>

    <div class="container mt-3 mb-3">

        <div class="row mb-3">
            <div class="col-5">Cantonese title</div>
            <div class="col-6">English title (translated) </div>
            <div class="col-1">Year</div>
        </div>
        
    </div>

 
</app-blog-post>
        
