<app-blog-post
    [postTitle]="postTitle()"
    [postDate]="postDate()"
    [postAbstract]="postAbstract()">

    <p class="p-spaced">
        In the 4th year we are required to record a 5-minute video about our home 
        and present it to the rest of the group. I really enjoy traveling, so I never feel bound to one location.
        Thus I chose to include three different locations in the video: (1) the farm from my grandparents and parents, (2)
        my sisters new house and (3) my workplace.
    </p>

    <video controls width="100%">
        <source src="/assets/images/wojia.mp4"
                type="video/mp4">
    
        Sorry, your browser doesn't support embedded videos.
    </video>
        
</app-blog-post>
        
