<app-blog-post
    [postTitle]="postTitle()"
    [postDate]="postDate()"
    [postAbstract]="postAbstract()">

    <p class="p-spaced">
        In the 4th year we are required to record a 5-minute video about our home 
        and present it to the rest of the group. I really enjoy traveling, so I never feel bound to one location.
        Thus I chose to include three different locations in the video: (1) the farm from my grandparents and parents, (2)
        my sisters new house and (3) my workplace.
    </p>

    <iframe src="https://player.vimeo.com/video/381244824" width="100%" height="410" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        
</app-blog-post>
        
