<footer class="footer py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">
            Copyright © <a href="javascript:void(0);" (click)="mailTo()">Zimcke Van de Staey</a> {{getCurrentYear()}}
            <br><br>
        </p>
        <p class="m-0 text-center text-white">
            Template based on <a href="https://AlexanderTang.github.io">AlexanderTang.github.io</a>
            <br>
            ( Imitation is the highest form of intelligence. )
        </p>
    </div>
</footer>
