<h2 class="mt-4 mb--10">Publications</h2>

<div class="row">
    <div class="col-lg-3">
        <!-- <img class="img-fluid rounded mb-4" src="assets/images/zimcke.jpg" alt="Me"> -->
    </div>
    <div class="col-lg-9">
        
        <h3 class="mb-3">On computer science education</h3>
            <p class="p-spaced">
                Zimcke Van de Staey, Tobias Verlinde, Bart Demoen, and Bern Martens. 2018. 
                <i>Co-de: an online learning platform for computational thinking.</i> 
                In Proceedings of the 13th Workshop in Primary and Secondary Computing Education (WiPSCE'18). ACM,
                New Yorks, NY, USA, Article 32, 2 pages. <br>DOI: <a href="https://doi.org/10.1145/3265757.3265790">https://doi.org/10.1145/3265757.3265790</a>
            </p>
        <h3 class="mb-3">On music</h3>
        <p class="p-spaced">
                Zimcke Van de Staey. 2015. <i>Spelen met muziek?</i> 
                in Ecce Home Ludens, Uit het Erasmushuis, Tijdschrift van de Alumni Letteren Leuven, Vol. 5, pp.44-48.
        </p>


    </div>
</div>

