<div class="card mb-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
        </div>
    </div>
</div>

<div class="card my-4">
    <h5 class="card-header">Categories</h5>
    <div class="card-body">

        <div class="list-unstyled mb-0" *ngFor="let categoryEntry of getTop6Categories() | keyvalue;let i = index;">
            <a href="javascript:void(0);" (click)="searchCategory(categoryEntry.key)">{{getEnumString(categoryEntry.key)}} ({{categoryEntry.value}})</a>
        </div>
    </div>
</div>
