<div class="container">

    <h2 class="mt-4 mb-3">{{postTitle}}</h2>

    <div class="row">
        <div class="col-lg-9">
            <div *ngIf="postImagePresent()">
                <img class="img-fluid rounded" src="assets/images/{{postImageName}}" alt="">
                <hr>
            </div>
            <p>Posted on {{postDate | date:'longDate'}} by <a [routerLink]="['/about']">Zimcke Van de Staey</a></p>
            <hr>
            <p class="lead">{{postAbstract}}</p>
            <ng-content></ng-content>
            <hr>

            <div class="card my-4">
                <h5 class="card-header">E-mail a comment:</h5>
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()" #blogPostCommentForm="ngForm">
                        <div class="form-group">
                            <input id="mailTitle"
                                   name="mailTitle"
                                   type="text"
                                   [ngModel]="mailSubject()"
                                   [readonly]="true"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea id="mailBody"
                                      name="mailBody"
                                      [(ngModel)]="mailBody"
                                      class="form-control"
                                      rows="3"
                                      required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <app-blog-sidebar></app-blog-sidebar>
        </div>
    </div>
</div>
