<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button"
                data-target="#navbarResponsive"
                (click)="toggleMainHeadersCollapsed()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive" [ngClass]="{'show': !mainHeadersCollapsed}">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item dropdown" dropdown>
                    <a href
                       dropdownToggle
                       (click)="false"
                       class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Blog
                        </a>
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item"
                           [routerLink]="['/blogs/dev']"
                           [queryParams]="{page: 1}"
                           routerLinkActive="active">Developer Blog</a>
                        <a class="dropdown-item"
                           [routerLink]="['/blogs/game']"
                           [queryParams]="{page: 1}"
                           routerLinkActive="active">Gaming Blog</a>
                    </div>
                </li> -->
                <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/bio']" routerLinkActive="active">Bio</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
