<h2 class="mt-4 mb--10">Zimcke Van de Staey</h2>

<div class="row">
    <div class="col-lg-3">
        <img class="img-fluid rounded mb-4" src="assets/images/zimcke.jpg" alt="Me">
    </div>
    <div class="col-lg-9">
        <h3 class="mb-3">About</h3>
        <p class="p-spaced">
            I am currently doing research on computer science and STEM education as a PhD student at Ghent University. 
            I am holding a masters degree in Computer Science (2019) and Musicology (2013) from the University of Leuven.
            In 2011-2012 I was enrolled at Université Paris-Sorbonne Paris IV with an Erasmus exchange.
        </p>

        <h3 class="mt-4 mb-3">Contact Me</h3>
        <p class="p-spaced">
            I am always excited to receive email that does not contain bills or silly advertisements, 
            so feel free to <a href="javascript:void(0);" (click)="mailTo()">Email me</a>
            or drop me a text on WeChat (zimcke).
        </p>
    </div>
</div>

